.hero__about--container {
  margin: 0 auto;
  width: 100%;
  height: auto;
  border: 1px solid;

  .hero__about-contend {
    color: #0f172a;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 0.5rem;
    margin: 0 auto;

    h2 {
      font-size: clamp(2rem, -0.25rem + 3.333vw, 2.75rem);
      padding: 0.2rem;
      font-weight: bold;
    }
  }

  .borderImage {
    box-shadow: -4px -1px 10px 1px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: -4px -1px 10px 1px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: -4px -1px 10px 1px rgba(0, 0, 0, 0.24);
  }
}

.about__descriptions-sections {
  .about__description {
    h2 {
      line-height: 1.2;
      color: #0f172a;
      font-size: clamp(2.5rem, -0.25rem + 3.333vw, 3.5rem);
    }

    a {
      color: white;
    }

    p {
      font-size: clamp(1rem, -0.25rem + 3.333vw, 1.2rem);
    }
  }
}

/*
.hero__team {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem 0.5rem;

  .team__description {
    padding: 0.1rem;

    h4 {
      font-size: clamp(1.3rem, -0.25rem + 3.333vw, 2.2rem);
      margin-bottom: 0.5rem;
      font-weight: bold;
      color: #9561e2;
    }

    p {
      font-size: clamp(1.1rem, -0.25rem + 3.333vw, 1.2rem);
    }
  }

  .team__image {
    width: 30%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}*/

.team__container {
  padding: 0.5rem;
  color: #475569;
  background-color: #f1f5f9;

  .team__images {
    width: 70%;
    margin: 0 auto;
  }
}

.images__grid {
  padding: 1rem;
  .card {
    width: 100%;
  }
}

/* card pricing */

.pricing__card-container {
  color: #475569;

  .card__container-precing {
    .card {
      display: flex;
      justify-content: space-between;
      .card__header {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        gap: 1rem;
      }
    }
  }
}
.pricing__card-container .card:nth-last-child(-n + 2) {
  border: 5px solid #9561e2;
}

@media screen and (max-width: 1100px) {
  .hero__about-contend {
    width: 100%;
  }

  .hero__team {
    gap: 10px;

    .team__image {
      width: 100%;
    }
  }

  .team__container {
    padding: 0.5rem;
    color: #0f172a;

    .team__images {
      width: 100%;
      margin: 0 auto;
    }
  }
}

/* mx-auto max-w-screen-xl*/
